:root{
  --amgreen: #34b334;
  --full: 100%;
  --mygreen: springgreen;
  --b: red 1px solid;
}
/* ------- CUSTOM TAGS ------- */
g{
  color: springgreen ;
}
w{
  color: white;
}
fine{
  font-size: 14px;
}
cheader{
  font-size: 50px;
  font-family: Merienda;
}


/* ---------- CLASSES ----------- */
/* BUTTONS */
.bigButton {
  font-family: 'Space mono';
  letter-spacing: 3px;
  margin-top: 20px;
  font-size: 30px;
  padding: 5px 10px;
  background: none;
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  }
  .bigButton:hover{
    font-family: 'Space mono';
    color: var(--mygreen);
    cursor: pointer;
  }
.smallButton {
  color: #191817; !important;
  border: none;
  background: none;
  outline: none;
  font-family: 'Quicksand';
  padding: 4px 5px;
  margin: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 10px;
  }
  .smallButton:hover {
    cursor: pointer;
  }
/* HEADERS 'n' TEXT */
.bigHeader {
  font-family: Quicksand;
  font-size: 65px;
  margin-top: -10px;
}
.underHeader {
  font-family: 'Caveat';
  letter-spacing: 5px;
  font-size: 40px
}

/* CONTAINERS */
.contCenter{
  height: auto;
  padding: 30px 30px;
  display: flex;
  justify-content: center;
}
.center{
  align-self: center;
  text-align: center;
  /* border: var(--b); */
}
.leftside{
    display: inline-block;
    height: 90%;
    max-width: 50%;
    align-self: center;
    /* border: var(--b); */
}
.rightside{
    text-align: center;
    display: inline-block;
    align-self: center;
    /* border: var(--b); */
}
