
html{
  height: 100%;
}
body{
    margin:0;
    padding:0;
    height: 100%;
}

#navigationBar {
    width: var(--full);
    height: auto;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    font-family: 'Nunito';
    position: fixed;

  }
#9eff9b
  #leftNav{
    margin-left: 10px;
    align-self: center;
    }
    #leftNav .cotop p{
      border-radius: 5px;
      padding: 3px 5px;
      color: black;
    }
  #rightNav{
    margin-right: 10px;
    align-self: center;
    }
    #rightNav button{
      background: none;
      border: transparent 1px solid;
      outline: none;
      border-radius: 5px;
      padding: 3px 5px;
      color: #191817;
      margin: 0px 5px;
    }
    #rightNav button:hover{
        border: lightgreen 1px solid;
    }

#mainPanel{
    height: 100%;
    width: auto;
    box-sizing: border-box;
    position: relative;
    transform-style: inherit;
    background-image: url(../../res/img/png/space.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  #greenMoon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    }
    .mainContainer {
      align-self: center;
      height: auto;
      width: auto;
      text-align: center;
      color: white;
      display: block;
      }
      .insideCont {
      }
      #logo {
        /* border: red 1px solid; */
      }
      #name {
        /* border: red 1px solid; */
      }
      #moto {
        /* border: red 1px solid; */
      }
      #tryit {
        /*border: red 1px solid;*/
      }


#firstUnder {
  width: 100%;
  height: auto;
}
